.title {
  color: var(--tg-theme-text-color);
  font-size: 28px;
  margin: 35px 0;
  font-weight: 760;
}

.top {
  position: relative;
  padding: 16px 18px;
  background: var(--tg-theme-bg-color);
  border-radius: 12px;
}

.topInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topInfo {
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--tg-theme-hint-color);
}

.divider {
  width: 100%;
  height: 2px;
  min-width: 20px;
  background: #C7C7CC;
}

.step {
  min-width: 28px;
  min-height: 28px;
  border: 2px solid #C7C7CC;
  border-radius: 50%;
  padding: 3px;
}

.stepActive {
  position: relative;
  border: 1px solid var(--tg-theme-button-color);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--tg-theme-button-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.stepError {
  position: relative;
  border: 1px solid #FF0026;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FF0026;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.stepChecked {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tg-theme-button-color);
  svg {
    position: relative;
    z-index: 3;
  }
}
