.inner {
  margin-top: 2px;
  // background: var(--tg-theme-bg-color);
  padding: 0px 0px;
  border-radius: 22px;
  transition: all 0.3s ease 0s;
  // width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Если нужно выровнять по вертикали */
  &:hover {
    opacity: 0.8;
  }
  * {
    flex: 1
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s ease 0s;
    position: relative;
    &NameApp {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      span {
        color: var(--tg-theme-button-color)
      }
    }
    &Star {
      text-align: right;
      
      img {
        // background: var(--tg-theme-bg-color);
        // padding:
      }
    }
    &Avatar {
      cursor: pointer;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: absolute;
      }
      &Custom {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 5px;
        font-weight: 540;
        justify-content: center;
        text-transform: uppercase;
        background: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
      }
    }
    &Name {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
      font-size: 20px;
      font-weight: 410;
      margin-bottom: 1px;
      > div {
        color: var(--tg-theme-text-color);
      }
      @media (max-width: 360px) {
        font-size: 18px;
      }
    }
    &Address {
      font-size: 16px;
      color: var(--tg-theme-hint-color);
    }
    &Inner {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}