.methodTitle {
  color: var(--tg-theme-hint-color);
  font-size: 13px;
  margin: 35px 0 8px 0;
  font-weight: 410;
  text-transform: uppercase;
  padding-left: 16px;
}

.methodInner {
  background: var(--tg-theme-bg-color);
  padding: 16px 15px;
  border-radius: 12px;
  &Total {
    margin-bottom: 8px;
    font-size: 17px;
    color: var(--tg-theme-text-color);
    > span {
      color: var(--tg-theme-hint-color);
      font-size: 17px;
    }
  }
}

.methodInputInner {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
  svg:first-child {
      position: absolute;
      top: 9px;
      left: 10px;
  }
  input {
    padding: 12px 20px 10px 20px;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    width: 100%;
    font-size: 17px;
    font-weight: 540;
    &::placeholder {
        font-size: 18px;
        font-weight: 540;
        color: var(--tg-theme-hint-color);
    }
  }
}

.methodInputClear {
  position: absolute;
  right: 35px;
  top: 4px;
  transition: all 0.3s ease 0s;
  &:hover > svg {
      opacity: 0.7;
      > path {
          fill: var(--tg-theme-hint-color);
      }
  }
}

.methodAssets {
  margin-top: 18px;
}

.methodAsset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 87px);
    right: 0;
    height: 0.5px;
    background: rgba(60, 60, 67, 0.26);
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &Left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    &Skeleton {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--tg-theme-secondary-bg-color);
    }
    &Body {
      display: flex;
      align-items: center;
      gap: 12px;
      > img {
        border-radius: 50%;
      }
    }
  }
  &Token {
    color: var(--tg-theme-text-color);
    font-size: 17px;
  }
  &Amount {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
  }
  &Right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    > span {
      font-size: 17px;
      color: var(--tg-theme-hint-color);
    }
  }
  &Select {
    width: 22px;
    height: 22px;
    border: 1.5px solid #C8C7CB;
    border-radius: 50%;
  }
  &Selected {
    border: 0px solid #C8C7CB;
  }
}

.methodAssetsEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tg-theme-text-color);
  font-size: 18px;
}

.transactionTitle {
  font-size: 26px;
  font-weight: 760;
  margin: 35px 0 12px 0;
  text-align: center;
  color: var(--tg-theme-text-color);
}

.transactionDescription {
  text-align: center;
  font-size: 16px;
  color: var(--tg-theme-hint-color);
}

.loading {
  margin-top: 15px;
}