.firstStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.content {
  margin-top: 50px;
}

.firstTitle {
  font-size: 28px;
  font-weight: 760;
  margin: 20px 0;
  text-align: center;
  color: var(--tg-theme-text-color);
  span {
    color: #dab200;
  }
}

.firstText {
  text-align: center;
  font-size: 16px;
  color: var(--tg-theme-hint-color);
  &:not(:last-child) {
    margin-top: 18px;
  }
}

.firstButton {
  margin: 20px 0 5px 0;
}

.skipButton {
  background-color: transparent !important;
  color: var(--tg-theme-hint-color) !important;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.8;
  }
}