.inner {
  margin-top: 40px;
  min-height: 300px;
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &ActionPay {
    margin-top: 30px;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background: #dab200;
    padding: 14px;
    width: 100%;
    &:hover {
        // background: #1067eb;
        opacity: 0.7;
    }
}
}

.ready,
.error {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 760;
  text-align: center;
}

.ready {
  color: #dab200;
}

.error {
  color: #FF0026;
}

.text {
  font-size: 16px;
  font-weight: 760;
  text-align: center;
  color: var(--tg-theme-text-color);
}